openapi: '3.0.0'
info:
  title: 'Courses API'
  version: '1.0.0'
servers:
  - url: 'https://artiefy.com'
paths:
  /api/search-courses:
    post:
      operationId: search_courses
      summary: Buscar cursos
      description: Devuelve hasta 5 cursos que coinciden con el prompt
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                prompt:
                  type: string
                  description: Texto de búsqueda del usuario
                limit:
                  type: integer
                  description: Número máximo de cursos (máx 5)
                  default: 5
                  minimum: 1
                  maximum: 5
              required:
                - prompt
      responses:
        '200':
          description: Resultados de búsqueda de cursos
          content:
            application/json:
              schema:
                type: object
                properties:
                  description:
                    type: string
                  count:
                    type: integer
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        numero:
                          type: integer
                        title:
                          type: string
                        description:
                          type: string
                  source:
                    type: string
