.header-search-container {
  position: relative;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

.header-input-container {
  --input-border: #3af4ef;
  --input-focus-h: 245;
  --input-focus-s: 100%;
  --input-focus-l: 42%;
}

.header-search-container input {
  font-size: 13px;
  font-weight: 500;
  color: #fff;
  padding: 1rem 3rem 1rem 1rem;
  border-radius: 0.75rem;
  border: 1.5px solid #4a5565;
  background: #061c37;
  transition: all 0.3s ease;
  width: 100%;
  box-shadow:
    0 0 20px rgba(58, 244, 239, 0.3),
    0 0 40px rgba(58, 244, 239, 0.1);
}

.header-search-container input:focus {
  outline: none;
  border-color: #4b5568;
  box-shadow:
    0 0 25px rgba(58, 244, 239, 0.5),
    0 0 50px rgba(58, 244, 239, 0.2),
    0 0 75px rgba(58, 244, 239, 0.1);
}

.header-search__icon {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.header-search__icon path {
  fill: #3af4ef;
  transition: fill 0.2s ease;
}

/* Add these media queries at the bottom of the file */
@media (max-width: 1280px) {
  .header-search-container {
    max-width: 700px;
  }
}

@media (max-width: 1024px) {
  .header-search-container {
    max-width: 600px;
  }
}
