/* Fullscreen background class */
.fullscreen-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(100% 100% at 85% 0%, #3AF4EF66 0%, transparent 70%),
              radial-gradient(100% 100% at 15% 100%, #00BDD866 0%, transparent 70%),
              radial-gradient(100% 100% at 0% 100%, #2ecc71 0%, transparent 70%),
              #01142B;
  background-blend-mode: screen, screen, normal;
  overflow: hidden;
}

.card {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  transition: all 1s ease;
}

.card-info {
  display: flex;
  align-items: center;
}

.card-info span {
  font-size: 2.2rem;
  color: #3AF4EF;
  font-weight: 900;
  text-transform: uppercase;
  margin-left: 10px;
}

.spinner {
  fill: white;
}

.card.launch .rocket {
  transform: translate(150vw, -150vh);
}

.card.launch .moon {
  width: 50px;
  height: 50px;
}

.loader {
  --hue: 210;
  --size: 35px;
  --border: 5px;
  --speed: 1s;
  --blur: var(--border);
}

.loader {
  width: var(--border);
  aspect-ratio: 1;
  background: white;
  border-radius: 50%;
  position: absolute;
  --y: calc((var(--size) * -0.5) + (var(--border) * 0.5));
  transform: rotate(0deg) translateY(var(--y));
  animation: spin var(--speed) infinite linear;
}

.loader::before {
  content: '';
  position: absolute;
  inset: calc(var(--border) * -0.5);
  border-radius: 50%;
  background: white;
  filter: blur(var(--blur));
  z-index: -1;
}

.loader::after {
  content: '';
  width: var(--size);
  aspect-ratio: 1;
  position: absolute;
  top: 0%;
  left: 50%;
  translate: -50% 0;
  background: conic-gradient(
    white,
    hsl(var(--hue), 100%, 70%),
    hsl(var(--hue), 100%, 10%),
    transparent 65%
  );
  border-radius: 50%;
  mask: radial-gradient(
    transparent calc(((var(--size) * 0.5) - var(--border)) - 1px),
    white calc((var(--size) * 0.5) - var(--border))
  );
}

@keyframes spin {
  to {
    transform: rotate(-360deg) translateY(var(--y));
  }
}

.loading-container {
  position: relative;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
}

.card-info {
  display: flex;
  align-items: center;
}