/* Fullscreen background class */
.fullscreen-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(100% 100% at 85% 0%, #3AF4EF66 0%, transparent 70%),
              radial-gradient(100% 100% at 15% 100%, #00BDD866 0%, transparent 70%),
              radial-gradient(100% 100% at 0% 100%, #2ecc71 0%, transparent 70%),
              #01142B;
  background-blend-mode: screen, screen, normal;
  overflow: hidden;
}

.card {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  transition: all 1s ease;
}

.card-info {
  display: flex;
  align-items: center;
}

.card-info span {
  font-size: 2.2rem;
  color: #3AF4EF;
  font-weight: 900;
  text-transform: uppercase;
  margin-left: 10px;
}

.spinner {
  fill: white;
}

.card.launch .rocket {
  transform: translate(150vw, -150vh);
}

.card.launch .moon {
  width: 50px;
  height: 50px;
}
